$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

.dropdown {
  width: 50%;
  margin-top: 4px;
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color;
  box-shadow: 3px 3px 10px 6px rgba($black, 0.06);
  font-weight: bold;
  color: $black;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: $color;
  box-shadow: 3px 3px 10px 6px rgba($black, 0.06);
  font-weight: bold;
  color: $black;
  width: 100%;
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 2s;
}

.dropdown-item:hover {
  background: #f4f4f4;
}

//sm: { min: "640px", max: "767px" },
@media screen and (min-width: 640px) {
}

// md: { min: "768px", max: "1023px" },
@media screen and (min-width: 768px) {
}

//lg: { min: "1024px", max: "1279px" },
@media screen and (min-width: 1024px) {
}

// xl: { min: "1280px", max: "1535px" },
@media screen and (min-width: 1280px) {
}

// xxl: { min: "1536px" },
@media screen and (min-width: 1536px) {
}
