.dropdown {
  width: 100%;
  margin-top: 4px;
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #000;
  font-size: 13px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: aliceblue;
  box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #000;
  width: 100%;
  z-index: 1;
}

.dropdown-item {
  cursor: pointer;
  transition: all 2s;
  font-size: 13px;
}

.dropdown-item:hover {
  background: #f4f4f4;
}

@media screen and (max-width: 1024px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    font-size: 13px;
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    width: 100%;
    z-index: 1;
  }
  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }
  .dropdown-item:hover {
    background: #f4f4f4;
  }
}
@media screen and (max-width: 768px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    font-size: 13px;
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    width: 100%;
    z-index: 1;
  }
  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }
  .dropdown-item:hover {
    background: #f4f4f4;
  }
}
@media screen and (max-width: 640px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    font-size: 13px;
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    width: 100%;
    z-index: 1;
  }
  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }
  .dropdown-item:hover {
    background: #f4f4f4;
  }
}
@media screen and (max-width: 425px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    font-size: 13px;
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    width: 100%;
    z-index: 1;
  }
  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }
  .dropdown-item:hover {
    background: #f4f4f4;
  }
}
@media screen and (max-width: 375px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }
  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    font-size: 13px;
  }
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aliceblue;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #000;
    width: 100%;
    z-index: 1;
  }
  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }
  .dropdown-item:hover {
    background: #f4f4f4;
  }
}/*# sourceMappingURL=Dropdown.css.map */