$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

// xl: max 1280px
.dropdown {
  width: 100%;
  margin-top: 4px;
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color;
  box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
  font-weight: bold;
  color: $black;
  font-size: 13px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $color;
  box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
  font-weight: bold;
  color: $black;
  width: 100%;
  z-index: 1;
}

.dropdown-item {
  cursor: pointer;
  transition: all 2s;
  font-size: 13px;
}

.dropdown-item:hover {
  background: #f4f4f4;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }

  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    font-size: 13px;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    width: 100%;
    z-index: 1;
  }

  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }

  .dropdown-item:hover {
    background: #f4f4f4;
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }

  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    font-size: 13px;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    width: 100%;
    z-index: 1;
  }

  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }

  .dropdown-item:hover {
    background: #f4f4f4;
  }
}

//sm: max 640px
@media screen and (max-width: 640px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }

  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    font-size: 13px;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    width: 100%;
    z-index: 1;
  }

  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }

  .dropdown-item:hover {
    background: #f4f4f4;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }

  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    font-size: 13px;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    width: 100%;
    z-index: 1;
  }

  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }

  .dropdown-item:hover {
    background: #f4f4f4;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .dropdown {
    width: 100%;
    margin-top: 4px;
    position: relative;
  }

  .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    font-size: 13px;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color;
    box-shadow: 3px 3px 6px 6px rgba($black, 0.06);
    font-weight: bold;
    color: $black;
    width: 100%;
    z-index: 1;
  }

  .dropdown-item {
    cursor: pointer;
    transition: all 2s;
    font-size: 13px;
  }

  .dropdown-item:hover {
    background: #f4f4f4;
  }
}
