$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

.dropdown {
  width: 70%;
  margin-top: 4px;
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color;
  box-shadow: 3px 3px 10px 6px rgba($black, 0.06);
  font-weight: bold;
  color: $black;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: $color;
  box-shadow: 3px 3px 10px 6px rgba($black, 0.06);
  font-weight: bold;
  color: $black;
  width: 100%;
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 2s;
}

.dropdown-item:hover {
  background: #f4f4f4;
}
