.about-cont {
  max-width: 100%;
}

.about-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.about-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 36px;
  color: #000;
}

.about {
  margin: 80px;
}

.about-button-adopt {
  justify-content: left;
  margin: 80px;
}

.about-button {
  color: aliceblue;
  background-color: rgb(126, 63, 102);
  border-radius: 5px;
  width: 60px;
  height: 30px;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .about-cont {
    max-width: 100%;
  }
  .about-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }
  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 34px;
    color: #000;
  }
  .about {
    margin: 80px 40px 80px 40px;
  }
  .about-button-adopt {
    justify-content: left;
    margin: 40px;
  }
  .about-button {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .about-cont {
    max-width: 100%;
  }
  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }
  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: #000;
  }
  .about {
    margin: 80px 20px 80px 20px;
  }
  .about-button-adopt {
    justify-content: left;
    margin: 20px;
  }
  .about-button {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .about-cont {
    max-width: 100%;
  }
  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }
  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 28px;
    color: #000;
  }
  .about {
    margin: 80px 20px 80px 20px;
  }
  .about-button-adopt {
    justify-content: left;
    margin: 20px;
  }
  .about-button {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 425px) {
  .about-cont {
    max-width: 100%;
  }
  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }
  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 26px;
    color: #000;
  }
  .about {
    margin: 80px 20px 80px 20px;
  }
  .about-button-adopt {
    justify-content: left;
    margin: 10px;
  }
  .about-button {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .about-cont {
    max-width: 100%;
  }
  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }
  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    color: #000;
    margin: 20px;
  }
  .about {
    margin: 80px 20px 80px 20px;
  }
  .about-button-adopt {
    justify-content: left;
    margin: 10px;
  }
  .about-button {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}/*# sourceMappingURL=About.css.map */