$color: aliceblue;
$background-color: rgb(126, 63, 102);
$title-color: #000;

// xl: max 1280px

.about-cont {
  max-width: 100%;
}

.about-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.about-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 36px;
  color: $title-color;
}

.about {
  margin: 80px;
}

.about-button-adopt {
  justify-content: left;
  margin: 80px;
}

.about-button {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  font-size: 12px;
}

//lg: max 1024px
@media screen and (max-width: 1024px) {
  .about-cont {
    max-width: 100%;
  }

  .about-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: $title-color;
  }

  .about {
    margin: 80px 40px 80px 40px;
  }

  .about-button-adopt {
    justify-content: left;
    margin: 40px;
  }

  .about-button {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .about-cont {
    max-width: 100%;
  }

  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 34px;
    color: $title-color;
  }

  .about {
    margin: 80px 20px 80px 20px;
  }

  .about-button-adopt {
    justify-content: left;
    margin: 20px;
  }

  .about-button {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}

//sm: min 640px
@media screen and (max-width: 640px) {
  .about-cont {
    max-width: 100%;
  }

  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: $title-color;
  }

  .about {
    margin: 80px 20px 80px 20px;
  }

  .about-button-adopt {
    justify-content: left;
    margin: 20px;
  }

  .about-button {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}

//xs:  max 425px
@media screen and (max-width: 425px) {
  .about-cont {
    max-width: 100%;
  }

  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 26px;
    color: $title-color;
  }

  .about {
    margin: 80px 20px 80px 20px;
  }

  .about-button-adopt {
    justify-content: left;
    margin: 10px;
  }

  .about-button {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}

//xxs:  max 375px
@media screen and (max-width: 375px) {
  .about-cont {
    max-width: 100%;
  }

  .about-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .about-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 26px;
    color: $title-color;
  }

  .about {
    margin: 80px 20px 80px 20px;
  }

  .about-button-adopt {
    justify-content: left;
    margin: 10px;
  }

  .about-button {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}
