$color: aliceblue;
$background-color: rgb(126, 63, 102);

.login-cont {
  max-width: 100%;
}

.login-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.login-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.login-form {
  margin-bottom: 200px;
}

.login-form form {
  display: block;
  max-width: 250px;
  margin: 60px auto;
}

.login-form-group {
  padding: 10px 0 10px 0;
}

.login-button {
  margin-top: 40px;
}

.login-btn {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-size: 12px;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-form form {
    display: block;
    max-width: 250px;
    margin: 60px auto;
  }

  .login-form {
    margin-bottom: 500px;
  }

  .login-form form {
    display: block;
    max-width: 250px;
    margin: 60px auto;
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 40px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
  }

  .login-form {
    margin-bottom: 500px;
  }

  .login-form form {
    display: block;
    max-width: 250px;
    margin: 60px auto;
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 40px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

//sm: max 640px
@media screen and (max-width: 640px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .login-form {
    margin-bottom: 500px;
  }

  .login-form form {
    display: block;
    max-width: 250px;
    margin: 60px auto;
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 40px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .login-cont {
    max-width: 80%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .login-form {
    margin-bottom: 500px;
  }

  .login-form form {
    display: block;
    max-width: 250px;
    margin: 60px auto;
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 40px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .login-form {
    margin-bottom: 500px;
  }

  .login-form form {
    display: block;
    max-width: 250px;
    margin: 60px auto;
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 40px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}
