.login-cont {
  max-width: 100%;
}

.login-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.login-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 36px;
}

.login-form {
  margin-bottom: 500px;
}

.login-form form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.login-form-group {
  padding: 10px 0 10px 0;
}

.login-button {
  margin-top: 20px;
}

.login-btn {
  color: aliceblue;
  background-color: rgb(126, 63, 102);
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .login-cont {
    max-width: 100%;
  }
  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }
  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
  }
  .login-form {
    margin-bottom: 500px;
  }
  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  .login-form-group {
    padding: 10px 0 10px 0;
  }
  .login-button {
    margin-top: 20px;
  }
  .login-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .login-cont {
    max-width: 100%;
  }
  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }
  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 34px;
  }
  .login-form {
    margin-bottom: 500px;
  }
  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  .login-form-group {
    padding: 10px 0 10px 0;
  }
  .login-button {
    margin-top: 20px;
  }
  .login-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .login-cont {
    max-width: 100%;
  }
  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }
  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    margin-bottom: 50px;
  }
  .login-form {
    margin-bottom: 500px;
  }
  .login-form form {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  .login-form-group {
    padding: 10px 0 10px 0;
  }
  .login-button {
    margin-top: 20px;
  }
  .login-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 425px) {
  .login-cont {
    max-width: 80%;
  }
  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }
  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
  }
  .login-form {
    margin-bottom: 500px;
  }
  .login-form form {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-form-group {
    padding: 10px 0 10px 0;
  }
  .login-button {
    margin-top: 20px;
  }
  .login-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .login-cont {
    max-width: 100%;
  }
  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }
  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .login-form {
    margin-bottom: 500px;
  }
  .login-form form {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-form-group {
    padding: 10px 0 10px 0;
  }
  .login-button {
    margin-top: 20px;
  }
  .login-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}/*# sourceMappingURL=Login.css.map */