$color: aliceblue;
$background-color: rgb(126, 63, 102);

// xl: max 1280px
.register-cont {
  max-width: 100%;
}

.register-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.register-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.register-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 36px;
}

.register-form {
  margin-bottom: 650px;
}

.register-form form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-form-group {
  padding: 10px 0 10px 0;
}

.register-button {
  margin-top: 20px;
}

.register-btn {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  font-size: 12px;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .register-cont {
    max-width: 100%;
  }

  .register-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .register-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
  }

  .register-form {
    margin-bottom: 650px;
  }

  .register-form form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .register-form-group {
    padding: 10px 0 10px 0;
  }

  .register-button {
    margin-top: 20px;
  }

  .register-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .register-cont {
    max-width: 100%;
  }

  .register-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .register-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 34px;
  }

  .register-form {
    margin-bottom: 650px;
  }

  .register-form form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .register-form-group {
    padding: 10px 0 10px 0;
  }

  .register-button {
    margin-top: 20px;
  }

  .register-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
}

//sm: max 640px
@media screen and (max-width: 640px) {
  .register-cont {
    max-width: 100%;
  }

  .register-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .register-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .register-form {
    margin-bottom: 650px;
  }

  .register-form form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .register-form-group {
    padding: 10px 0 10px 0;
  }

  .register-button {
    margin-top: 20px;
  }

  .register-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .register-cont {
    max-width: 100%;
  }

  .register-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .register-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .register-form {
    margin-bottom: 650px;
  }

  .register-form form {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .register-form-group {
    padding: 10px 0 10px 0;
  }

  .register-button {
    margin-top: 20px;
  }

  .register-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .register-cont {
    max-width: 100%;
  }

  .register-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .register-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .register-form {
    margin-bottom: 650px;
  }

  .register-form form {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .register-form-group {
    padding: 10px 0 10px 0;
  }

  .register-button {
    margin-top: 20px;
  }

  .register-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
}
