$color: aliceblue;
$background-color: rgb(126, 63, 102);
//$font: "Oswald", sans-serif;
$font: "Courier New", sans-serif;
$fontStyle: italic;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// xl: max 1280px
.main {
  position: relative;
  color: $color;
}

.main-image {
  max-height: 100%;
  max-width: 100%;
}

.main-text {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-25%, -50%);
  font-family: $font;
  font-style: $fontStyle;
}

.main-title {
  font-size: 22px;
  color: $color;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .main {
    position: relative;
    color: $color;
  }

  .main-image {
    max-height: 100%;
    max-width: 100%;
  }

  .main-text {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-10%, -50%);
    font-family: $font;
    font-style: $fontStyle;
  }

  .main-title {
    font-size: 20px;
    color: $color;
  }
}

// md:  max 768px
@media screen and (max-width: 768px) {
  .main {
    position: relative;
    color: $color;
  }

  .main-image {
    max-height: 100%;
    max-width: 100%;
  }

  .main-text {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-15%, -50%);
    font-family: $font;
    font-style: $fontStyle;
  }

  .main-title {
    font-size: 18px;
    color: $color;
  }
}

//sm:  max 640px
@media screen and (max-width: 640px) {
  .main {
    position: relative;
    color: $color;
  }

  .main-image {
    max-height: 100%;
    max-width: 100%;
  }

  .main-text {
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-30%, -50%);
    font-family: $font;
    font-style: $fontStyle;
  }

  .main-title {
    font-size: 18px;
    color: $color;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .main {
    position: relative;
    color: $color;
  }

  .main-image {
    max-height: 100%;
    max-width: 100%;
  }

  .main-text {
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-30%, -50%);
    font-family: $font;
    font-style: $fontStyle;
  }

  .main-title {
    font-size: 18px;
    color: $color;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .main {
    position: relative;
    color: $color;
  }

  .main-image {
    max-height: 100%;
    max-width: 100%;
  }

  .main-text {
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-30%, -50%);
    font-family: $font;
    font-style: $fontStyle;
  }

  .main-title {
    font-size: 18px;
    color: $color;
  }
}
