$color: aliceblue;

* 
	margin: 0 
	padding: 0 

.adoption-container 
	max-width: 100% 
	margin: 0 

.form-row 
	display: flex 

.form-group 
	padding: 10px 30px 0 0 

.adoption-header 
	height: 80px 
	width: 100% 

.adoption-content 
	display: flex 

.adoption-inner 
	padding: 0 0 0 120px 
	display: flex 
	align-items: center 

.adoption-title 
	margin: auto 
	justify-content: center 
	display: flex 
	font-size: 45px 
.adoption-form 
	margin: auto 
	padding: 0 120px 0 120px 

.status-form 
	padding: 40px 0 0 0 

.title 
	padding: 15px 0 0 0 

.btn-adoption 
	color: $color
	width: 200px 
	height: 50px 
	background-color: rgb(126, 63, 102) 
	font-size: 24px 
	align-items: flex-end 
	display: inline 
.button 
	margin: auto 
	justify-content: center 
	display: flex 

.back 
	color: black 
	width: 150px 
	height: 50px 
	background-color: aliceblue 
	margin: 20px 40px 20px 20px 
	font-size: 24px 
	
.submit 
	color: $color
	width: 150px 
	height: 50px 
	background-color: rgb(126, 63, 102) 
	margin: 20px 
	font-size: 24px 
