$background-color: rgb(126, 63, 102);
$color-edit: blue;
$color-delete: red;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // overflow-x: hidden;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 0;
  // overflow-x: auto;
  // cursor: pointer;
}

table {
  border: 2px solid $background-color;
  padding: 5px;
}

th,
td {
  border-right: 1px solid #eeeeef;
  border-left: solid 1px #eeeeef;
  border-bottom: 1px solid #eeeeef;
  padding: 5px;
  text-align: left;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th:last-child,
td:last-child {
  border-right: none;
}

.list-cont {
  max-width: 100%;
}

.list-inner {
  display: flex;
  align-items: center;
  margin: 10px;
}

.arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 30px;
}

.btn-link-edit {
  font-size: 10px;
  color: $color-edit;
}
.btn-link-delete {
  font-size: 10px;
  color: $color-delete;
}

//sm: { min: "640px", max: "767px" },
@media screen and (min-width: 640px) {
  .list-cont {
    max-width: 100%;
  }

  .list-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: red;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 10px;
  }

  th,
  td {
    border-right: 1px solid #eeeeef;
    border-left: solid 1px #eeeeef;
    border-bottom: 1px solid #eeeeef;
    padding: 5px;
    text-align: left;
    width: 50%;
    font-size: 10px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  .btn-link-edit {
    font-size: 10px;
    color: $color-edit;
  }
  .btn-link-delete {
    font-size: 10px;
    color: $color-delete;
  }
}

// md: { min: "768px", max: "1023px" },
@media screen and (min-width: 768px) {
  .list-cont {
    max-width: 100%;
  }

  .list-inner {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: blue;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    font-size: 13px;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 13px;
  }

  th,
  td {
    border-right: 1px solid #eeeeef;
    border-left: solid 1px #eeeeef;
    border-bottom: 1px solid #eeeeef;
    padding: 5px;
    text-align: left;
    width: 50%;
    font-size: 13px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  .btn-link-edit {
    font-size: 13px;
    color: $color-edit;
  }
  .btn-link-delete {
    font-size: 13px;
    color: $color-delete;
  }
}

//lg: { min: "1024px", max: "1279px" },
@media screen and (min-width: 1024px) {
  .list-cont {
    max-width: 100%;
  }

  .list-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: green;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    font-size: 15px;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 15px;
  }

  th,
  td {
    border-right: 1px solid #eeeeef;
    border-left: solid 1px #eeeeef;
    border-bottom: 1px solid #eeeeef;
    padding: 5px;
    text-align: left;
    width: 50%;
    font-size: 15px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  .btn-link-edit {
    font-size: 15px;
    color: $color-edit;
  }
  .btn-link-delete {
    font-size: 15px;
    color: $color-delete;
  }
}

// xl: { min: "1280px", max: "1535px" },
@media screen and (min-width: 1280px) {
  .list-cont {
    max-width: 100%;
  }

  .list-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: pink;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    font-size: 18px;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 18px;
  }

  th,
  td {
    border-right: 1px solid #eeeeef;
    border-left: solid 1px #eeeeef;
    border-bottom: 1px solid #eeeeef;
    padding: 5px;
    text-align: left;
    width: 50%;
    font-size: 18px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  .btn-link-edit {
    font-size: 18px;
    color: $color-edit;
  }
  .btn-link-delete {
    font-size: 18px;
    color: $color-delete;
  }
}

// xxl: { min: "1536px" },
@media screen and (min-width: 1536px) {
  .list-cont {
    max-width: 100%;
  }

  .list-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 40px;
    color: purple;
  }

  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    font-size: 20px;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 20px;
  }

  th,
  td {
    border-right: 1px solid #eeeeef;
    border-left: solid 1px #eeeeef;
    border-bottom: 1px solid #eeeeef;
    padding: 5px;
    text-align: left;
    width: 50%;
    font-size: 20px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  .btn-link-edit {
    font-size: 20px;
    color: $color-edit;
  }
  .btn-link-delete {
    font-size: 20px;
    color: $color-delete;
  }
}
