$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

.dogCard-cont {
  max-width: 100%;
}

.dogCard-inner {
  display: flex;
  align-items: center;
  margin: 20px;
}

.dogCard-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.dogCard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 30px;
}

.dogCard {
  margin: 80px 10px 80px 10px;
}

.button-dogCard {
  justify-content: left;
}

.button-dogCard-read {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  font-size: 12px;
}

.dogCard-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

.dogCard-card-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
}

.dogCard-card-content {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--background-el);
  box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
  width: 350px;
  cursor: pointer;
  margin: 20px;
}

.dogCard-card-details {
  padding: 16px 0 16px 0;
}

.dogCard-card-inner {
  margin: 20px;
}

//sm: { min: "640px", max: "767px" },
@media screen and (min-width: 640px) {
  .dogCard-cont {
    max-width: 100%;
  }

  .dogCard-inner {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .dogCard-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .dogCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    color: red;
  }

  .dogCard {
    margin: 80px 10px 80px 10px;
  }

  .button-dogCard {
    justify-content: left;
  }

  .button-dogCard-read {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  .dogCard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .dogCard-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
  }

  .dogCard-card-content {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--background-el);
    box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
    width: 350px;
    cursor: pointer;
    margin: 20px;
  }

  .dogCard-card-details {
    padding: 16px 0 16px 0;
  }

  .dogCard-card-inner {
    margin: 20px;
  }
}

// md: { min: "768px", max: "1023px" },
@media screen and (min-width: 768px) {
  .dogCard-cont {
    max-width: 100%;
  }

  .dogCard-inner {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }

  .dogCard-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .dogCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: blue;
  }

  .dogCard {
    margin: 80px 20px 80px 20px;
  }

  .button-dogCard {
    justify-content: left;
  }

  .button-dogCard-read {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  .dogCard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .dogCard-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
  }

  .dogCard-card-content {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--background-el);
    box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
    width: 350px;
    cursor: pointer;
    margin: 20px;
  }

  .dogCard-card-details {
    padding: 16px 0 16px 0;
  }

  .dogCard-card-inner {
    margin: 20px;
  }
}

//lg: { min: "1024px", max: "1279px" },
@media screen and (min-width: 1024px) {
  .dogCard-cont {
    max-width: 100%;
  }

  .dogCard-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .dogCard-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .dogCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: green;
  }

  .dogCard {
    margin: 80px 40px 80px 40px;
  }

  .button-dogCard {
    justify-content: left;
  }

  .button-dogCard-read {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  .dogCard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .dogCard-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
  }

  .dogCard-card-content {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--background-el);
    box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
    width: 350px;
    cursor: pointer;
    margin: 20px;
  }

  .dogCard-card-details {
    padding: 16px 0 16px 0;
  }

  .dogCard-card-inner {
    margin: 20px 40px 20px 40px;
  }
}

// xl: { min: "1280px", max: "1535px" },
@media screen and (min-width: 1280px) {
  .dogCard-cont {
    max-width: 100%;
  }

  .dogCard-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .dogCard-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .dogCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: rosybrown;
  }

  .dogCard {
    margin: 80px;
  }

  .button-dogCard {
    justify-content: left;
  }

  .button-dogCard-read {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  .dogCard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .dogCard-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
  }

  .dogCard-card-content {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--background-el);
    box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
    width: 350px;
    cursor: pointer;
    margin: 20px;
  }

  .dogCard-card-details {
    padding: 16px 0 16px 0;
  }

  .dogCard-card-inner {
    margin: 20px 80px 20px 80px;
  }
}

// xxl: { min: "1536px" },
@media screen and (min-width: 1536px) {
  .dogCard-cont {
    max-width: 100%;
  }

  .dogCard-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .dogCard-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .dogCard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 40px;
    color: purple;
  }

  .dogCard {
    margin: 80px;
  }

  .button-dogCard {
    justify-content: left;
  }

  .button-dogCard-read {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

  .dogCard-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .dogCard-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
  }

  .dogCard-card-content {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--background-el);
    box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
    width: 350px;
    cursor: pointer;
    margin: 20px;
  }

  .dogCard-card-details {
    padding: 16px 0 16px 0;
  }

  .dogCard-card-inner {
    margin: 20px 80px 20px 80px;
  }
}
