$color: aliceblue;
$background-color: rgb(126, 63, 102);

.response {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  align-items: center;
}

.response-title {
  margin: 10px 10px 0 0;
}

.success-button {
  display: flex;
}

.backHome {
  color: $color;
  width: 250px;
  height: 50px;
  background-color: $background-color;
  margin: 80px 20px 80px 20px;
  font-size: 24px;
}

.list {
  margin: 20px 0 0 0;
}

// xl: max 1280px

//lg:  max 1024px
@media screen and (max-width: 1024px) {
}

// md: max 768px
@media screen and (max-width: 768px) {
}

//sm: max 640p
@media screen and (max-width: 640px) {
}

//xs: max 424px
@media screen and (max-width: 425px) {
}

//xxs: max 375px
@media screen and (max-width: 375px) {
}
