* {
  margin: 0;
  padding: 0;
}

.adopt-cont {
  max-width: 100%;
}

.adopt-inner {
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  text-decoration: none;
}

.adopt-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 24px;
  color: black;
}

.adopt-drop {
  margin: 10px;
}

.adopt-drop-title {
  margin: auto;
  justify-content: left;
  display: flex;
  font-size: 20px;
  margin: 40px 0 30px 0;
}

.drop {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.drop1,
.drop2 {
  padding: 8px 0 8px 0;
  font-size: 15px;
  justify-content: space-between;
}

.drop3,
.drop5,
.drop4,
.drop6 {
  padding: 8px 0 8px 0;
  font-size: 15px;
  justify-content: space-between;
}

.drop-h2 {
  font-size: 13px;
}

.button {
  justify-content: left;
}

.filter-btn {
  color: aliceblue;
  background-color: rgb(126, 63, 102);
  width: 100px;
  height: 40px;
  font-size: 12px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

@media screen and (min-width: 640px) {
  .adopt-cont {
    max-width: 100%;
  }
  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    color: red;
  }
  .adopt-drop {
    margin: 10px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }
  .drop {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .drop1 {
    flex-grow: 3;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop2 {
    flex-grow: 4;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop4 {
    flex-grow: 1;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop5 {
    flex-grow: 2;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop3,
.drop6 {
    flex-grow: 0.5;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop-h2 {
    font-size: 13px;
  }
  .button {
    justify-content: left;
  }
  .filter-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .adopt-cont {
    max-width: 100%;
  }
  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    color: blue;
  }
  .adopt-drop {
    margin: 10px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }
  .drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
  .drop1,
.drop2 {
    flex-grow: 1.5;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop3,
.drop4,
.drop5,
.drop6 {
    flex-grow: 0.5;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop-h2 {
    font-size: 13px;
  }
  .button {
    justify-content: left;
  }
  .filter-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .adopt-cont {
    max-width: 100%;
  }
  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    color: green;
  }
  .adopt-drop {
    margin: 10px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }
  .drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
  .drop1,
.drop2 {
    flex-grow: 0.5;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop3,
.drop4,
.drop5,
.drop6 {
    flex-grow: 0.1;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop-h2 {
    font-size: 13px;
  }
  .button {
    justify-content: left;
  }
  .filter-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .adopt-cont {
    max-width: 100%;
  }
  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    color: pink;
  }
  .adopt-drop {
    margin: 10px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }
  .drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
  .drop1,
.drop2 {
    flex-grow: 1.5;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop3,
.drop4,
.drop5,
.drop6 {
    flex-grow: 0.5;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop-h2 {
    font-size: 13px;
  }
  .button {
    justify-content: left;
  }
  .filter-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1536px) {
  .adopt-cont {
    max-width: 100%;
  }
  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 24px;
    color: purple;
  }
  .adopt-drop {
    margin: 10px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }
  .drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
  .drop1,
.drop2 {
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop3,
.drop5,
.drop4,
.drop6 {
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }
  .drop-h2 {
    font-size: 13px;
  }
  .button {
    justify-content: left;
  }
  .filter-btn {
    color: aliceblue;
    background-color: rgb(126, 63, 102);
    width: 100px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}/*# sourceMappingURL=Adopt.css.map */