* {
  margin: 0;
  padding: 0;
}

.adopt-container {
  max-width: 100%;
  padding: 0 200px 0 120px;
}

body {
  background-color: aliceblue;
}

.adopt {
  color: aliceblue;
  width: 150px;
  height: 50px;
  background-color: rgb(126, 63, 102);
  margin: 20px;
  font-size: 24px;
}

.adopt-content {
  display: flex;
  margin: 20px 0 50px 0;
}

.adopt-header {
  height: 80px;
  width: 100%;
}

.adopt-inner {
  display: flex;
  align-items: center;
}

.h2 {
  display: flex;
  height: 16px;
  margin-right: 20px;
}

.adopt-drop {
  margin: 16px;
}

.adopt-title {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 16px;
  margin-right: 20px;
  font-size: 24px;
  line-height: 32px;
}

.adopt-drop-title {
  margin: auto;
  justify-content: left;
  display: flex;
  font-size: 20px;
  line-height: 28px;
  margin: 16px 0 16px 0;
}

.drop {
  display: flex;
}

.drop1 {
  flex-basis: 50%;
  padding: 8px 0 8px 0;
  font-size: 18px;
  line-height: 28px;
}

.drop2 {
  flex-basis: 90%;
  padding: 8px 0 8px 0;
  font-size: 18px;
  line-height: 28px;
}

.drop3,
.drop4,
.drop5,
.drop6 {
  flex-basis: 30%;
  padding: 8px 0 8px 0;
  font-size: 18px;
  line-height: 28px;
}

.drop-h2 {
  font-size: 18px;
  line-height: 28px;
}

.checklist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px 10px 0;
  margin: 0 20px 0 0;
}

.button {
  justify-content: left;
}

.filter-btn {
  color: aliceblue;
  background-color: rgb(126, 63, 102);
  width: 100px;
  height: 40px;
  margin: 10px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

@media (min-width: 640px) {
  .h2 {
    display: flex;
    height: 16px;
    margin-right: 8px;
  }
  .adopt-title {
    margin: auto;
    display: flex;
    height: 16px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 32px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 20px 0;
  }
}
@media (min-width: 768px) {
  .h2 {
    display: flex;
    height: 16px;
    margin-right: 8px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 20px 0;
  }
}
@media (min-width: 1024px) {
  .h2 {
    display: flex;
    height: 16px;
    margin-right: 8px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 20px 0;
  }
}
@media (min-width: 1280px) {
  .h2 {
    display: flex;
    height: 16px;
    margin-right: 8px;
  }
  .adopt-title {
    margin: auto;
    display: flex;
    height: 16px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 32px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 24px;
    line-height: 32px;
    margin: 20px 0 20px 0;
  }
}
@media (min-width: 1536px) {
  .h2 {
    display: flex;
    height: 16px;
    margin-right: 8px;
  }
  .adopt-title {
    margin: auto;
    display: flex;
    height: 16px;
    margin-right: 20px;
    font-size: 24px;
    line-height: 32px;
  }
  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 24px;
    line-height: 32px;
    margin: 20px 0 20px 0;
  }
}/*# sourceMappingURL=Adopt.css.map */