$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;
$font: "Courier New", sans-serif;

// xl: max 1280px
.adopt-cont {
  max-width: 100%;
}

.adopt-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.adopt-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.adopt-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 36px;
  color: $black;
}

.adopt-drop {
  margin: 80px;
}

.adopt-drop-title {
  margin: auto;
  justify-content: left;
  display: flex;
  font-size: 20px;
  margin: 40px 0 30px 0;
}

.drop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px;
}

.drop1 {
  flex: 4 1 auto;
  padding: 8px 0 8px 0;
  font-size: 15px;
  justify-content: space-between;
}

.drop2 {
  flex: 4 1 auto;
  padding: 8px 0 8px 0;
  font-size: 15px;
  justify-content: space-between;
}

.drop3,
.drop4,
.drop5,
.drop6 {
  flex: 1 1 auto;
  padding: 8px 0 8px 0;
  font-size: 15px;
  justify-content: space-between;
}

.drop-title {
  font-size: 18px;
}

.adopt-button {
  justify-content: left;
  margin: 80px;
}

.filter-btn {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 12px;
}

//lg:  max: 1024px
@media screen and (max-width: 1024px) {
  .adopt-cont {
    max-width: 100%;
  }

  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .adopt-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: $black;
  }

  .adopt-drop {
    margin: 80px 40px 80px 40px;
  }

  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }

  .drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }

  .drop1 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop2 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop3,
  .drop4,
  .drop5,
  .drop6 {
    flex: 1 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop-title {
    font-size: 18px;
  }

  .adopt-button {
    justify-content: left;
    margin: 40px;
  }

  .filter-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}

// md:  max 768px
@media screen and (max-width: 768px) {
  .adopt-cont {
    max-width: 100%;
    margin-top: 40px;
  }

  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .adopt-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: $black;
  }

  .adopt-drop {
    margin: 80px 40px 80px 40px;
  }

  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }

  .drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .drop1 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop2 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop3,
  .drop4,
  .drop5,
  .drop6 {
    flex: 1 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop-title {
    font-size: 13px;
  }

  .adopt-button {
    justify-content: left;
    margin: 20px;
  }

  .filter-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    font-size: 12px;
  }
}

//sm:  max 640px
@media screen and (max-width: 640px) {
  .adopt-cont {
    max-width: 100%;
  }

  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }

  .adopt-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 26px;
    color: $black;
  }

  .adopt-drop {
    margin: 80px 20px 80px 20px;
  }

  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 20px;
    margin: 40px 0 30px 0;
  }

  .drop {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  // flex: [flex-grow] [flex-shrink] [flex-basis];
  //flex: [max] [min] [ideal size];

  .drop1 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop2 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop3,
  .drop4,
  .drop5,
  .drop6 {
    flex: 1 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop-title {
    font-size: 13px;
  }

  .adopt-button {
    justify-content: left;
    margin: 10px;
  }

  .filter-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .adopt-cont {
    max-width: 100%;
  }

  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .adopt-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 22px;
    color: $black;
    padding: 20px;
  }

  .adopt-drop {
    margin: 60px 20px 80px 20px;
  }

  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 18px;
    margin: 40px 0 30px 0;
  }

  .drop {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  // flex: [flex-grow] [flex-shrink] [flex-basis];
  //flex: [max] [min] [ideal size];

  .drop1 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop2 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop3,
  .drop4,
  .drop5,
  .drop6 {
    flex: 1 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop-title {
    font-size: 13px;
  }

  .adopt-button {
    justify-content: left;
    margin: 20px;
  }

  .filter-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}

//xxs: max: 375px
@media screen and (max-width: 375px) {
  .adopt-cont {
    max-width: 100%;
  }

  .adopt-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 20px 20px;
  }

  .adopt-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .adopt-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
    color: $black;
    padding: 20px;
  }

  .adopt-drop {
    margin: 60px 20px 80px 20px;
  }

  .adopt-drop-title {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 18px;
    margin: 40px 0 30px 0;
  }

  .drop {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  // flex: [flex-grow] [flex-shrink] [flex-basis];
  //flex: [max] [min] [ideal size];

  .drop1 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop2 {
    flex: 4 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop3,
  .drop4,
  .drop5,
  .drop6 {
    flex: 1 1 auto;
    padding: 8px 0 8px 0;
    font-size: 15px;
    justify-content: space-between;
  }

  .drop-title {
    font-size: 13px;
  }

  .adopt-button {
    justify-content: left;
    margin: 20px;
  }

  .filter-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}

// $color: aliceblue;
// $background-color: rgb(126, 63, 102);
// $black: #000;
// $font: "Courier New", sans-serif;

// .adopt-cont {
//   max-width: 100%;
// }

// .adopt-inner {
//   display: flex;
//   align-items: center;
//   margin: 10px;
// }

// .adopt-arrow {
//   display: flex;
//   text-decoration: none;
//   font-size: 18px;
//   padding: 5px;
// }

// .adopt-title {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 60px;
//   font-size: 30px;
// }

// .adopt-drop {
//   margin: 80px 10px 80px 10px;
// }

// .adopt-drop-title {
//   margin: auto;
//   justify-content: left;
//   display: flex;
//   font-size: 20px;
//   margin: 40px 0 30px 0;
// }

// .drop {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;
// }

// .drop1 {
//   flex: 4 1 auto;
//   padding: 8px 0 8px 0;
//   font-size: 15px;
//   justify-content: space-between;
// }

// .drop2 {
//   flex: 4 1 auto;
//   padding: 8px 0 8px 0;
//   font-size: 15px;
//   justify-content: space-between;
// }

// .drop3,
// .drop4,
// .drop5,
// .drop6 {
//   flex: 1 1 auto;
//   padding: 8px 0 8px 0;
//   font-size: 15px;
//   justify-content: space-between;
// }

// .drop-title {
//   font-size: 13px;
// }

// .adopt-button {
//   justify-content: left;
//   margin: 10px;
// }

// .filter-btn {
//   color: $color;
//   background-color: $background-color;
//   border-radius: 5px;
//   width: 100px;
//   height: 40px;
//   font-size: 12px;
// }

// .adopt-cards {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   margin-top: 16px;
// }

// //xxs: { min: "375px", max: "424px" }
// @media screen and (min-width: 375px) {
// }

// //xs: { min: "425px", max: "639px" },
// @media screen and (min-width: 425px) {
//   .adopt-cont {
//     max-width: 100%;
//   }

//   .adopt-inner {
//     display: flex;
//     align-items: center;
//     margin: 40px 20px 20px 20px;
//   }

//   .adopt-arrow {
//     display: flex;
//     text-decoration: none;
//     font-size: 18px;
//     padding: 5px;
//   }

//   .adopt-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     font-size: 22px;
//     color: pink;
//     padding: 20px;
//   }

//   .adopt-drop {
//     margin: 80px 20px 80px 20px;
//   }

//   .adopt-drop-title {
//     margin: auto;
//     justify-content: left;
//     display: flex;
//     font-size: 20px;
//     margin: 40px 0 30px 0;
//   }

//   .drop {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 10px;
//   }

//   // flex: [flex-grow] [flex-shrink] [flex-basis];
//   //flex: [max] [min] [ideal size];

//   .drop1 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop2 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop3,
//   .drop4,
//   .drop5,
//   .drop6 {
//     flex: 1 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop-title {
//     font-size: 13px;
//   }

//   .adopt-button {
//     justify-content: left;
//     margin: 20px;
//   }

//   .filter-btn {
//     color: $color;
//     background-color: $background-color;
//     border-radius: 5px;
//     width: 100px;
//     height: 40px;
//     font-size: 12px;
//   }
// }

// //sm: { min: "640px", max: "767px" },
// @media screen and (min-width: 640px) {
//   .adopt-cont {
//     max-width: 100%;
//   }

//   .adopt-inner {
//     display: flex;
//     align-items: center;
//     margin: 10px;
//   }

//   .adopt-arrow {
//     display: flex;
//     text-decoration: none;
//     font-size: 18px;
//     padding: 5px;
//   }

//   .adopt-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     font-size: 30px;
//     color: red;
//   }

//   .adopt-drop {
//     margin: 80px 10px 80px 10px;
//   }

//   .adopt-drop-title {
//     margin: auto;
//     justify-content: left;
//     display: flex;
//     font-size: 20px;
//     margin: 40px 0 30px 0;
//   }

//   .drop {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 10px;
//   }

//   // flex: [flex-grow] [flex-shrink] [flex-basis];
//   //flex: [max] [min] [ideal size];

//   .drop1 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop2 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop3,
//   .drop4,
//   .drop5,
//   .drop6 {
//     flex: 1 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop-title {
//     font-size: 13px;
//   }

//   .adopt-button {
//     justify-content: left;
//     margin: 10px;
//   }

//   .filter-btn {
//     color: $color;
//     background-color: $background-color;
//     border-radius: 5px;
//     width: 100px;
//     height: 40px;
//     font-size: 12px;
//   }
// }

// // md: { min: "768px", max: "1023px" },
// @media screen and (min-width: 768px) {
//   .adopt-cont {
//     max-width: 100%;
//   }

//   .adopt-inner {
//     display: flex;
//     align-items: center;
//     margin: 10px 20px 10px 20px;
//   }

//   .adopt-arrow {
//     display: flex;
//     text-decoration: none;
//     font-size: 18px;
//     padding: 5px;
//   }

//   .adopt-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     font-size: 32px;
//     color: blue;
//   }

//   .adopt-drop {
//     margin: 80px 20px 80px 20px;
//   }

//   .adopt-drop-title {
//     margin: auto;
//     justify-content: left;
//     display: flex;
//     font-size: 20px;
//     margin: 40px 0 30px 0;
//   }

//   .drop {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     gap: 20px;
//   }

//   .drop1 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop2 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop3,
//   .drop4,
//   .drop5,
//   .drop6 {
//     flex: 1 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop-title {
//     font-size: 13px;
//   }

//   .adopt-button {
//     justify-content: left;
//     margin: 20px;
//   }

//   .filter-btn {
//     color: $color;
//     background-color: $background-color;
//     border-radius: 5px;
//     width: 100px;
//     height: 36px;
//     font-size: 12px;
//   }
// }

// //lg: { min: "1024px", max: "1279px" },
// @media screen and (min-width: 1024px) {
//   .adopt-cont {
//     max-width: 100%;
//   }

//   .adopt-inner {
//     display: flex;
//     align-items: center;
//     margin: 10px 40px 10px 40px;
//   }

//   .adopt-arrow {
//     display: flex;
//     text-decoration: none;
//     font-size: 18px;
//     padding: 5px;
//   }

//   .adopt-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     font-size: 36px;
//     color: green;
//   }

//   .adopt-drop {
//     margin: 80px 40px 80px 40px;
//   }

//   .adopt-drop-title {
//     margin: auto;
//     justify-content: left;
//     display: flex;
//     font-size: 20px;
//     margin: 40px 0 30px 0;
//   }

//   .drop {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     gap: 40px;
//   }

//   .drop1 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop2 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop3,
//   .drop4,
//   .drop5,
//   .drop6 {
//     flex: 1 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop-title {
//     font-size: 18px;
//   }

//   .adopt-button {
//     justify-content: left;
//     margin: 40px;
//   }

//   .filter-btn {
//     color: $color;
//     background-color: $background-color;
//     border-radius: 5px;
//     width: 100px;
//     height: 40px;
//     font-size: 12px;
//   }
// }

// // xl: { min: "1280px", max: "1535px" },
// @media screen and (min-width: 1280px) {
//   .adopt-cont {
//     max-width: 100%;
//   }

//   .adopt-inner {
//     display: flex;
//     align-items: center;
//     margin: 10px 80px 10px 80px;
//   }

//   .adopt-arrow {
//     display: flex;
//     text-decoration: none;
//     font-size: 18px;
//     padding: 5px;
//   }

//   .adopt-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     font-size: 36px;
//     color: rosybrown;
//   }

//   .adopt-drop {
//     margin: 80px;
//   }

//   .adopt-drop-title {
//     margin: auto;
//     justify-content: left;
//     display: flex;
//     font-size: 20px;
//     margin: 40px 0 30px 0;
//   }

//   .drop {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     gap: 80px;
//   }

//   .drop1 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop2 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop3,
//   .drop4,
//   .drop5,
//   .drop6 {
//     flex: 1 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop-title {
//     font-size: 18px;
//   }

//   .adopt-button {
//     justify-content: left;
//     margin: 80px;
//   }

//   .filter-btn {
//     color: $color;
//     background-color: $background-color;
//     border-radius: 5px;
//     width: 100px;
//     height: 40px;
//     font-size: 12px;
//   }
// }

// // xxl: { min: "1536px" },
// @media screen and (min-width: 1536px) {
//   .adopt-cont {
//     max-width: 100%;
//   }

//   .adopt-inner {
//     display: flex;
//     align-items: center;
//     margin: 10px 80px 10px 80px;
//   }

//   .adopt-arrow {
//     display: flex;
//     text-decoration: none;
//     font-size: 18px;
//     padding: 5px;
//   }

//   .adopt-title {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 60px;
//     font-size: 40px;
//     color: purple;
//   }

//   .adopt-drop {
//     margin: 80px;
//   }

//   .adopt-drop-title {
//     margin: auto;
//     justify-content: left;
//     display: flex;
//     font-size: 20px;
//     margin: 40px 0 30px 0;
//   }

//   .drop {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     gap: 100px;
//   }

//   .drop1 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop2 {
//     flex: 4 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop3,
//   .drop4,
//   .drop5,
//   .drop6 {
//     flex: 1 1 auto;
//     padding: 8px 0 8px 0;
//     font-size: 15px;
//     justify-content: space-between;
//   }

//   .drop-title {
//     font-size: 18px;
//   }

//   .adopt-button {
//     justify-content: left;
//     margin: 80px;
//   }

//   .filter-btn {
//     color: $color;
//     background-color: $background-color;
//     border-radius: 5px;
//     width: 100px;
//     height: 40px;
//     font-size: 12px;
//   }
// }
