$color: aliceblue;
$background-color: rgb(126, 63, 102);
$font: "Oswald", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  color: $color;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);

  font-family: $font;
}

.main-title {
  padding: 0 80px 5px 0px;
  font-size: 18px;
  line-height: 28px;
}

// .button {
//   display: flex;
//   padding: 10px 80px 5px 20px;
// }

// .donate {
//   width: 180px;
//   height: 50px;
//   margin: 20px;
//   font-size: 24px;
// }

// .adopt {
//   color: $color;
//   width: 180px;
//   height: 50px;
//   background-color: $background-color;
//   margin: 20px;
//   font-size: 24px;
// }

//sm
@media (min-width: 640px) {
  .main-title {
    padding: 0 80px 5px 0px;
    font-size: 20px;
    line-height: 28px;
  }
}

//md
@media (min-width: 768px) {
  .main-title {
    padding: 0 80px 5px 0px;
    font-size: 24px;
    line-height: 32px;
  }
}

//lg
@media (min-width: 1024px) {
  .main-title {
    padding: 0 80px 5px 0px;
    font-size: 30px;
    line-height: 36px;
  }
}

//xl
@media (min-width: 1280px) {
  .main-title {
    padding: 0 80px 5px 0px;
    font-size: 48px;
    line-height: 1;
  }
}

//2xl
@media (min-width: 1536px) {
  .main-title {
    padding: 0 80px 5px 0px;
    font-size: 48px;
    line-height: 1;
  }
}
