$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

.card-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
}

.card-content {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--background-el);
  box-shadow: 0 2px 4px rgba($black, 0.06), 0 2px 3px rgba($black, 0.12);
  width: 350px;
  cursor: pointer;
  margin: 20px;
}

.card-content-image {
  width: 300px;
  height: 300px;
  margin: 25px;
}

.card-content-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card-inner {
  padding: 16px;
}

.card-details {
  padding: 4px;
}

.card-check {
  padding-left: 4px;
}

.card-button-adopt {
  align-items: flex-end;
  padding-bottom: 40px;
}

.card-adopt {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  margin: 10px;
  font-size: 12px;
}

// xl: max 1280px

//lg:  max 1024px
@media screen and (max-width: 1024px) {
}

// md: { min: "768px", max: "1023px" },
@media screen and (max-width: 768px) {
}

//sm: { min: "640px", max: "767px" },
@media screen and (max-width: 640px) {
}

//xs: max 424px
@media screen and (max-width: 425px) {
}

//xxs: max 375px
@media screen and (max-width: 375px) {
}
