$background-color: rgb(126, 63, 102);

.users {
  width: 100%;
  //height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

table {
  border: 2px solid $background-color;
  //width: 100vh;
  //height: 100vh;
  padding: 5px;
}

th,
td {
  border-right: 1px solid #eeeeef;
  border-left: solid 1px #eeeeef;
  border-bottom: 1px solid #eeeeef;
  padding: 5px;
  //text-align: center;
  width: 50%;
  height: 30px;
}

th:last-child,
td:last-child {
  border-right: none;
}
