.response-cont {
  max-width: 100%;
}

.response-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.response-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.response-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 32px;
}

.response-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 10px 80px 40px 80px;
}

.response {
  margin: 80px;
}

@media screen and (max-width: 1024px) {
  .response-cont {
    max-width: 100%;
  }
  .response-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }
  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
  }
  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px 40px 10px 40px;
  }
  .response {
    margin: 80px 10px 80px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .response-cont {
    max-width: 100%;
  }
  .response-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }
  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
  }
  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 10px 80px 40px 80px;
  }
  .response {
    margin: 80px;
  }
}
@media screen and (max-width: 640px) {
  .response-cont {
    max-width: 100%;
  }
  .response-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }
  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
  }
  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 10px 80px 40px 80px;
  }
  .response {
    margin: 80px;
  }
}
@media screen and (max-width: 425px) {
  .response-cont {
    max-width: 100%;
  }
  .response-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }
  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
  }
  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 10px 80px 40px 80px;
  }
  .response {
    margin: 80px;
  }
}
@media screen and (max-width: 375px) {
  .response-cont {
    max-width: 100%;
  }
  .response-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }
  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
  }
  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 10px 80px 40px 80px;
  }
  .response {
    margin: 80px;
  }
}/*# sourceMappingURL=Success.css.map */