$color: aliceblue;
$background-color: rgb(126, 63, 102);
$border-color: 1px solid #eeeeef;

// xl: max 1280px
.response-cont {
  max-width: 100%;
}

.response-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.response-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.response-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin: 80px;
}

.response-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 20px 80px 80px 80px;
}

.response {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

table {
  border: 2px solid $background-color;
  padding: 5px;
  font-size: 18px;
}

th,
td {
  border-right: $border-color;
  border-left: $border-color;
  border-bottom: $border-color;
  padding: 5px;
  text-align: left;
  width: 100%;
  font-size: 18px;
}

th:last-child,
td:last-child {
  border-right: none;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .response-cont {
    max-width: 100%;
  }

  .response-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
  }

  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .response {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px 0;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 18px;
  }

  th,
  td {
    border-right: $border-color;
    border-left: $border-color;
    border-bottom: $border-color;
    padding: 5px;
    text-align: left;
    width: 100%;
    font-size: 18px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .response-cont {
    max-width: 100%;
  }

  .response-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }

  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }

  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .response {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px 0;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 18px;
  }

  th,
  td {
    border-right: $border-color;
    border-left: $border-color;
    border-bottom: $border-color;
    padding: 5px;
    text-align: left;
    width: 100%;
    font-size: 18px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}

//sm: max 640px
@media screen and (max-width: 640px) {
  .response-cont {
    max-width: 100%;
  }

  .response-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }

  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .response {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px 0;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 18px;
  }

  th,
  td {
    border-right: $border-color;
    border-left: $border-color;
    border-bottom: $border-color;
    padding: 5px;
    text-align: left;
    width: 100%;
    font-size: 18px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .response-cont {
    max-width: 100%;
  }

  .response-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }

  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .response {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px 0;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 18px;
  }

  th,
  td {
    border-right: $border-color;
    border-left: $border-color;
    border-bottom: $border-color;
    padding: 5px;
    text-align: left;
    width: 100%;
    font-size: 18px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .response-cont {
    max-width: 100%;
  }

  .response-inner {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 20px;
  }

  .response-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .response-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
  }

  .response-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .response {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px 0;
  }

  table {
    border: 2px solid $background-color;
    padding: 5px;
    font-size: 18px;
  }

  th,
  td {
    border-right: $border-color;
    border-left: $border-color;
    border-bottom: $border-color;
    padding: 5px;
    text-align: left;
    width: 100%;
    font-size: 18px;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }
}
