$color: aliceblue;
$black: #000;
$font-menu: "Oswald", sans-serif;
$font-title: "Segoe UI", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  height: 160px;
  width: 100%;
  background-color: $black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $color;
}

.footer-inner {
  padding: 25px 10px 10px 50px;
  display: flex;
  align-items: center;
}

.footer-title {
  font-family: $font-title;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

.footer-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 80px;
}

.footer-menu {
  li {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    margin-top: 30px;
    position: relative;
  }
}

//sm
@media (min-width: 640px) {
  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 80px;
    flex: row;
  }
}

//md
@media (min-width: 768px) {
  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 80px;
    flex: row;
  }
}

//lg
@media (min-width: 1024px) {
  .footer-title {
    font-family: $font-title;
    display: flex;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
  }
  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 80px;
    flex: row;
  }
}

//xl
@media (min-width: 1280px) {
  .footer-title {
    font-family: $font-title;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }
  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 80px;
    flex: row;
  }
}

//2xl
@media (min-width: 1536px) {
  .footer-title {
    font-family: $font-title;
    display: flex;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }
  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 80px;
    flex: row;
  }
}
