$color: aliceblue;
$black: #000;
$font-menu: "Oswald", sans-serif;
$font-title: "Segoe UI", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.footer {
  height: 120px;
  width: 100%;
  background-color: $black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $color;
}

.footer-inner {
  padding: 25px 10px 10px 50px;
  display: flex;
  align-items: center;
}

.footer-title {
  font-family: $font-title;
  display: flex;
  font-size: 14px;
  margin-top: 20px;
}

.footer-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 80px;
}

.footer-menu {
  li {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    margin-top: 30px;
    position: relative;
  }
}

//sm: { min: "640px", max: "767px" },
@media screen and (min-width: 640px) {
  .footer {
    height: 120px;
    width: 100%;
    background-color: $black;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $color;
  }

  .footer-inner {
    padding: 25px 10px 10px 50px;
    display: flex;
    align-items: center;
  }

  .footer-title {
    font-family: $font-title;
    display: flex;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 20px;
  }

  .footer-menu {
    li {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 14px;
      list-style: none;
      padding: 10px;
      margin-top: 30px;
      position: relative;
    }
  }
}

// md: { min: "768px", max: "1023px" },
@media screen and (min-width: 768px) {
}

//lg: { min: "1024px", max: "1279px" },
@media screen and (min-width: 1024px) {
}

// xl: { min: "1280px", max: "1535px" },
@media screen and (min-width: 1280px) {
}

// xxl: { min: "1536px" },
@media screen and (min-width: 1536px) {
}
