$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

.login-cont {
  max-width: 100%;
}

.login-inner {
  display: flex;
  align-items: center;
  margin: 10px;
}

.arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 30px;
}

.login-form {
  position: relative;
  margin-bottom: 400px;
  margin-top: 200px;
}

.login-form form {
  //margin: 0 auto;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.login-form-group {
  padding: 10px 0 10px 0;
}

.login-button {
  margin-top: 20px;
}

//sm: { min: "640px", max: "767px" },
@media screen and (min-width: 640px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    color: red;
    margin-bottom: 50px;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    //margin: 0 auto;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }
}

// md: { min: "768px", max: "1023px" },
@media screen and (min-width: 768px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: blue;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    margin: 0 auto;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }
}

//lg: { min: "1024px", max: "1279px" },
@media screen and (min-width: 1024px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: green;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    //margin: 0 auto;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }
}

// xl: { min: "1280px", max: "1535px" },
@media screen and (min-width: 1280px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: pink;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    //margin: 0 auto;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }
}

// xxl: { min: "1536px" },
@media screen and (min-width: 1536px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 40px;
    color: purple;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    //margin: 0 auto;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }
}
