$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

// xl: max 1280px
.login-cont {
  max-width: 100%;
}

.login-inner {
  display: flex;
  align-items: center;
  margin: 10px 80px 10px 80px;
}

.login-arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 36px;
  color: pink;
}

.login-form {
  margin-bottom: 400px;
  margin-top: 200px;
}

.login-form form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-group {
  padding: 10px 0 10px 0;
}

.login-button {
  margin-top: 20px;
}

.login-btn {
  color: $color;
  background-color: $background-color;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-size: 12px;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: green;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: blue;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

//sm: max 640px
@media screen and (max-width: 640px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    color: red;
    margin-bottom: 50px;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 10px 10px 10px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 28px;
    color: pink;
    margin-bottom: 50px;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .login-cont {
    max-width: 100%;
  }

  .login-inner {
    display: flex;
    align-items: center;
    margin: 40px 10px 10px 10px;
  }

  .login-arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 28px;
    color: pink;
    margin-bottom: 50px;
  }

  .login-form {
    margin-bottom: 400px;
    margin-top: 200px;
  }

  .login-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form-group {
    padding: 10px 0 10px 0;
  }

  .login-button {
    margin-top: 20px;
  }

  .login-btn {
    color: $color;
    background-color: $background-color;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: 12px;
  }
}
