.article {
  max-width: 100%;
  height: 955px;
}

.card-inner {
  padding: 0 0 0 120px;
  display: flex;
  align-items: center;
}

.card-body {
  padding: 120px 80px 10px 120px;
  display: flex;
  align-items: center;
  flex: 1;
}

.card-img {
  flex: 1;
}
.card-details {
  margin-left: auto;
}

.card-details h1,
h3 {
  padding: 5px;
}

.card-details h2 {
  margin-top: 20px;
  padding: 5px;
}

.button {
  display: flex;
  padding: 30px 80px 5px 20px;
}
