.card-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-header {
  padding: 0 0 0 120px;
  display: flex;
  align-items: center;
}

.card-content {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--background-el);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  width: 300px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 120px;
}

.img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-details h1,
h3 {
  padding: 5px;
}

.card-details h2 {
  margin-top: 20px;
  padding: 5px;
}
