* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  max-width: 100%;
}

.header-content {
  display: flex;
  font-family: "Oswald", sans-serif;
  flex-direction: row;
  padding: 0 50px;

  min-height: 160px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.img {
  display: flex;
  padding: 18px 31px 15px 76px;
}
.header-title {
  display: flex;
  padding: 26px 61px 27px 31px;
  font-family: "Oswald", sans-serif; /*regular*/
}

.header-menu {
  display: flex;
  list-style: none; /* no bullets */
  margin: 0;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-menu li {
  position: relative;
  font-size: 20px;
  font-family: "Oswald", sans-serif; /*light*/
  cursor: pointer;
}

.adopt-nav {
  border-width: 10px;
  border-color: darkgreen;
  border-style: solid;
  border-top: 10px;
  width: 80px;
  height: 30px;
  background-color: darkgreen;
  color: aliceblue;
}

.about-nav {
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }
}
