$color: aliceblue;
$background-color: rgb(126, 63, 102);
$black: #000;

.donate-cont {
  max-width: 100%;
}

.donate-inner {
  display: flex;
  align-items: center;
  margin: 10px;
}

.arrow {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.donate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 30px;
}

.donate {
  margin: 80px 10px 80px 10px;
}

.donate-subtitle {
  margin: auto;
  justify-content: left;
  display: flex;
  font-size: 26px;
  margin: 40px 0 30px 0;
}

.donate-subtitle1 {
  margin: auto;
  justify-content: left;
  display: flex;
  font-size: 22px;
  margin: 40px 0 30px 0;
}

.donate-li {
  font-size: 22px;
}

//sm: { min: "640px", max: "767px" },
@media screen and (min-width: 640px) {
  .donate-cont {
    max-width: 100%;
  }

  .donate-inner {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .donate-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
    color: red;
  }

  .donate {
    margin: 80px 10px 80px 10px;
  }

  .donate-subtitle {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 26x;
    margin: 40px 0 30px 0;
  }

  .donate-subtitle1 {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 22px;
    margin: 40px 0 30px 0;
  }

  .donate-li {
    font-size: 22px;
  }
}

// md: { min: "768px", max: "1023px" },
@media screen and (min-width: 768px) {
  .donate-cont {
    max-width: 100%;
  }

  .donate-inner {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .donate-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 32px;
    color: blue;
  }

  .donate-subtitle {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 26px;
    margin: 40px 0 30px 0;
  }

  .donate-subtitle1 {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 22px;
    margin: 40px 0 30px 0;
  }

  .donate {
    margin: 80px 20px 80px 20px;
  }

  .donate-li {
    font-size: 22px;
  }
}

//lg: { min: "1024px", max: "1279px" },
@media screen and (min-width: 1024px) {
  .donate-cont {
    max-width: 100%;
  }

  .donate-inner {
    display: flex;
    align-items: center;
    margin: 10px 40px 10px 40px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .donate-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: green;
  }

  .donate-subtitle {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 26px;
    margin: 40px 0 30px 0;
  }

  .donate-subtitle1 {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 22px;
    margin: 40px 0 30px 0;
  }

  .donate {
    margin: 80px 40px 80px 40px;
  }

  .donate-li {
    font-size: 22px;
  }
}

// xl: { min: "1280px", max: "1535px" },
@media screen and (min-width: 1280px) {
  .donate-cont {
    max-width: 100%;
  }

  .donate-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .donate-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 36px;
    color: rosybrown;
  }

  .donate-subtitle {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 26px;
    margin: 40px 0 30px 0;
  }

  .donate-subtitle1 {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 22px;
    margin: 40px 0 30px 0;
  }

  .donate {
    margin: 80px;
  }

  .donate-li {
    font-size: 22px;
  }
}

// xxl: { min: "1536px" },
@media screen and (min-width: 1536px) {
  .donate-cont {
    max-width: 100%;
  }

  .donate-inner {
    display: flex;
    align-items: center;
    margin: 10px 80px 10px 80px;
  }

  .arrow {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }

  .donate-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 40px;
    color: purple;
  }

  .donate-subtitle {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 26px;
    margin: 40px 0 30px 0;
  }

  .donate-subtitle1 {
    margin: auto;
    justify-content: left;
    display: flex;
    font-size: 22px;
    margin: 40px 0 30px 0;
  }

  .donate {
    margin: 80px;
  }

  .donate-li {
    font-size: 22px;
  }
}
