$color: aliceblue;
$border-color: darkgreen;
$font: "Courier New", sans-serif;
$background-color: rgb(216, 186, 204);
$font-weight: bold;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// xl: max 1280px
.header {
  max-width: 100%;
}

.header-content {
  display: flex;
  font-family: $font;
  flex-direction: row;
  height: 100px;
  padding: 22px;
}

.header-inner {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.header-inner img {
  padding: 5px;
  height: 26px;
}

.header-title {
  display: flex;
  cursor: pointer;
  font-family: $font;
  font-size: 22px;
  padding-top: 10px;
  font-weight: $font-weight;
}

.header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.li {
  position: relative;
  font-family: $font;
  cursor: pointer;
}

.about-nav {
  text-decoration: none;
  margin: 0 4px 0 4px;
  font-size: 20px;
}

//lg:  max 1024px
@media screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
  }

  .header-content {
    display: flex;
    font-family: $font;
    flex-direction: row;
    height: 100px;
    padding: 20px;
  }

  .header-inner {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }

  .header-inner img {
    padding: 5px;
    height: 26px;
  }

  .header-title {
    display: flex;
    cursor: pointer;
    font-family: $font;
    font-size: 20px;
    padding-top: 10px;
    font-weight: $font-weight;
  }

  .header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .li {
    position: relative;
    font-family: $font;
    cursor: pointer;
  }

  .about-nav {
    text-decoration: none;
    margin: 0 4px 0 4px;
    font-size: 18px;
  }
}

// md:  max 768px
@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
  }

  .header-content {
    display: flex;
    font-family: $font;
    flex-direction: column;
    height: 100px;
    padding: 0 20px 0 20px;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }

  .header-inner img {
    padding: 5px;
    height: 24px;
  }

  .header-title {
    display: flex;
    cursor: pointer;
    font-family: $font;
    font-size: 18px;
    padding-top: 10px;
    font-weight: $font-weight;
  }

  .header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .li {
    position: relative;
    font-family: $font;
    cursor: pointer;
  }

  .about-nav {
    text-decoration: none;
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
}

//sm:  max 640px
@media screen and (max-width: 640px) {
  .header {
    max-width: 100%;
  }

  .header-content {
    display: flex;
    font-family: $font;
    flex-direction: column;
    height: 100px;
    padding: 0 20px 0 20px;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }

  .header-inner img {
    padding: 5px;
    height: 24px;
  }

  .header-title {
    display: flex;
    cursor: pointer;
    font-family: $font;
    font-size: 18px;
    padding-top: 10px;
    font-weight: $font-weight;
  }

  .header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .li {
    position: relative;
    font-family: $font;
    cursor: pointer;
  }

  .about-nav {
    text-decoration: none;
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
}

//xs: max 425px
@media screen and (max-width: 425px) {
  .header {
    max-width: 100%;
  }

  .header-content {
    display: flex;
    font-family: $font;
    flex-direction: column;
    height: 250px;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }

  .header-inner img {
    padding: 5px;
    height: 24px;
  }

  .header-title {
    display: flex;
    cursor: pointer;
    font-family: $font;
    font-size: 18px;
    padding-top: 10px;
    font-weight: $font-weight;
  }

  .header-menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
  }

  .li {
    position: relative;
    font-family: $font;
    cursor: pointer;
  }

  .about-nav {
    text-decoration: none;
    font-size: 16px;
  }
}

//xxs: max 375px
@media screen and (max-width: 375px) {
  .header {
    max-width: 100%;
  }

  .header-content {
    display: flex;
    font-family: $font;
    flex-direction: column;
    height: 250px;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
  }

  .header-inner img {
    padding: 5px;
    height: 24px;
  }

  .header-title {
    display: flex;
    cursor: pointer;
    font-family: $font;
    font-size: 18px;
    padding-top: 10px;
    font-weight: $font-weight;
  }

  .header-menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
  }

  .li {
    position: relative;
    font-family: $font;
    cursor: pointer;
  }

  .about-nav {
    text-decoration: none;
    font-size: 16px;
  }
}
