$color: aliceblue;
$black: #000;
$font: "Courier New", sans-serif;

.footer {
  height: 120px;
  width: 100%;
  background-color: $black;
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $color;
  height: 100%;
}

.footer-inner {
  display: flex;
  align-items: center;
}

.footer-title {
  font-family: $font;
  display: flex;
  font-size: 20px;
}

.footer-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.footer-menu {
  li {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 16px;
    list-style: none;
    padding: 5px;
    position: relative;
  }
}

//lg: max 1024px
@media screen and (max-width: 1024px) {
  .footer {
    height: 120px;
    width: 100%;
    background-color: $black;
  }

  .footer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $color;
    height: 100%;
  }

  .footer-inner {
    display: flex;
    align-items: center;
  }

  .footer-title {
    font-family: $font;
    display: flex;
    font-size: 18px;
  }

  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-menu {
    li {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 16px;
      list-style: none;
      padding: 5px;
      position: relative;
    }
  }
}

// md: max 768px
@media screen and (max-width: 768px) {
  .footer {
    height: 120px;
    width: 100%;
    background-color: $black;
  }

  .footer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $color;
    height: 100%;
  }

  .footer-inner {
    display: flex;
    align-items: center;
  }

  .footer-title {
    font-family: $font;
    display: flex;
    font-size: 16px;
  }

  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 18px;
  }

  .footer-menu {
    li {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 14px;
      list-style: none;
      padding: 5px;
      position: relative;
    }
  }
}

//sm:  max 640px
@media screen and (max-width: 640px) {
  .footer {
    height: 120px;
    width: 100%;
    background-color: $black;
  }

  .footer-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $color;
    height: 100%;
  }

  .footer-inner {
    display: flex;
    align-items: center;
  }

  .footer-title {
    font-family: $font;
    display: flex;
    font-size: 13px;
  }

  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 13px;
  }

  .footer-menu {
    li {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 10px;
      list-style: none;
      padding: 5px;
      position: relative;
    }
  }
}

//xs:  max 425px
@media screen and (max-width: 425px) {
  .footer {
    height: 120px;
    max-width: 100%;
    background-color: $black;
  }

  .footer-cont {
    display: flex;
    font-family: $font;
    flex-direction: column;
    color: $color;
    height: 100%;
  }

  .footer-inner {
    display: flex;
    font-family: $font;
    flex-direction: column;
    margin-top: 24px;
  }

  .footer-title {
    font-family: $font;
    display: flex;
    font-size: 14px;
  }

  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  .footer-menu {
    li {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 14px;
      list-style: none;
      padding: 5px;
      position: relative;
    }
  }
}

//xxs:  max 375px
@media screen and (max-width: 375px) {
  .footer {
    height: 120px;
    max-width: 100%;
    background-color: $black;
  }

  .footer-cont {
    display: flex;
    font-family: $font;
    flex-direction: column;
    color: $color;
    height: 100%;
  }

  .footer-inner {
    display: flex;
    font-family: $font;
    flex-direction: column;
    margin-top: 24px;
  }

  .footer-title {
    font-family: $font;
    display: flex;
    font-size: 14px;
  }

  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  .footer-menu {
    li {
      display: inline-flex;
      flex-direction: row-reverse;
      font-size: 14px;
      list-style: none;
      padding: 5px;
      position: relative;
    }
  }
}
